{
  padding:0;
  margin:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;

}

.contenedor {

	width: 95%;
	max-width: 1000px;
	margin: auto;
}

.contenedor p {
	margin-bottom: 40px;
}

header nav {
	background:#3498db;
	margin-bottom: 10px;
}

header nav ul {
	list-style:none;
	overflow:hidden;
}

    header nav ul li {
	float:right;
}









